<!DOCTYPE html>
<html data-bs-theme="auto" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{/fragments/header.html :: fragment-temp(로그인)}"></div>
    <style>
        .hr-sect {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            color: rgba(0, 0, 0, 0.35);
            font-size: 20px;
            margin: 8px 0px;
        }
        .hr-sect::before,
        .hr-sect::after {
            content: "";
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.35);
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 16px;
        }
    </style>
    <!--다크 모드 설정 이미지-->
    <svg th:replace="~{/fragments/darkmode.html :: fragment-image}"></svg>

    <!--다크 모드 버튼-->
    <div th:replace="~{/fragments/darkmode.html :: fragment-button}"></div>
</head>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4 font-weight-bold" style="font-weight: bold">Signup</h1>
                    <p class="text-muted text-center">
                        Enter your information to create an account
                    </p>
                    <form th:action="@{/account/signup}" method="post" class="mt-4">
                        <!-- name input -->
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="name" name="name" placeholder="m@example.com" required>
                            <label for="name">Name</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="username" name="username" placeholder="m@example.com" required>
                            <label for="username">Email</label>
                        </div>
                        <!-- Password input -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>
                        <!-- Password Confirmation input -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                        <div th:if="${signupError}">
                            <p style="color: red; font-size:12px;" th:text="${signupError}"></p>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg w-100">Signup</button>
                        <div class="hr-sect">or</div>
                        <div class="form-group d-flex justify-content-center">
                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-libtn-lg mt-3">
                                <img class="bi me-2" width="35" height="35" src="/images/web_light_rd_na@2x.png" alt="Google Logo">
                            </a>
                            <a th:href="@{/oauth2/authorization/naver}" class="btn btn-libtn-lg mt-3">
                                <img class="bi me-2" width="35" height="35" src="/images/btnG_아이콘원형.png" alt="Naver Logo">
                            </a>
                        </div>
                        <div style="float: right">
                            <a th:href="@{/account/login}" style="float: right">Login here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{/fragments/footer.html :: fragment-footer}"></footer>
</body>
</html>
